.input-field{
    width: 350px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
}

.btn{
    cursor: pointer;
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 3px;
    background-radius: 3px;
    background: #999908;
}