.todo-list-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    background-color: #f3f1f4;
    padding: 0 15px
}

.todo-del{
    color: #e64d3f;
    font-weight: bold;
    cursor: pointer;
}